@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Rubik", sans-serif;
  background: #000;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

h3 {
  font-size: 26px;
  font-weight: 300;
}

h4 {
  color: #00ed82;
  font-size: 13px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: #fff;
  color: #333;
  min-width: 135px;
  padding: 20px 32px;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-cta:hover {
  opacity: 0.8;
}

.btn1 {
  display: inline-block;
  background: #fff;
  color: #333;
  min-width: 135px;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-outline {
  background: none;
  color: #fff;
  border: 2px solid #fff;
}

.btn-outline:hover {
  color: #fff;
  border-color: #ccc;
}

.btn-dark {
  background: #000;
  color: #fff;
}

.legal-text {
  font-size: 10px;
  color: #ccc;
  margin-top: 20px;
}

.sub-link {
  display: block;
  color: #ccc;
  font-size: 12px;
  margin-top: 5px;
  text-decoration: underline;
}

.text-xl {
  font-size: 70px;
  font-weight: bold;
}

.sub-text {
  max-width: 850px;
  margin-bottom: 10px;
  font-size: 24px;
}

/* header */
.main-container {
  position: relative;
}
nav {
  position: fixed;
  right: 1%;
  z-index: 1;
}
nav .login-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.main-container-bg {
  background: url(../images/header.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 530px;
  /* position: absolute; */
}
.main-container-bg-content {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-container-bg-content .logo {
  width: 300px;
}

/* section1 */
.section1 {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
}
.section1-sub-section1 {
  width: 90%;
  padding: 20px;
}
.section1-sub-section2,
.section1-sub-section3 {
  padding: 20px;
}

/* section2  */
.section2 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
}
.section2-content-text-3 {
  width: 70%;
  margin: auto;
}
.section2-bg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 500px;
  grid-gap: 20px;
  width: 90%;
  margin: 20px auto;
}
.section2-bg-cover-1 {
  background: url(../images/cover-1.jpg) no-repeat center;
  background-size: cover;
  /* width: 250px;
  min-height: 400px; */
}

.section2-bg-cover-2 {
  background: url(../images/cover-2.jpg) no-repeat center;
  background-size: cover;
}
.section2-bg-cover-3 {
  background: url(../images/cover-3.jpg) no-repeat center;
  background-size: cover;
}
.section2-bg-cover-4 {
  background: url(../images/cover-4.jpg) no-repeat center;
  background-size: cover;
}

/* section3  */
.section3 {
  background-color: #333;
  width: 100%;
  height: 500px;
  padding-top: 10px;
}
.section3-content {
  border-radius: 10px;
  /* top: 20px; */
  margin: auto;
  border: 2px solid green;
  width: 90%;
  margin-top: 20px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* section4  */

.section4 {
  background: url(../images/live-sports.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  padding: auto 20px;
  padding-left: 5%;
  height: 580px;
}
.section4-content {
  display: flex;

  flex-direction: column;
  width: 40%;
  /* height: 100%; */
}
.section4-logos {
  width: 150px;
  display: flex;
}

/* footer  */
footer {
  background-color: #ccc;
  color: #333;
}
.footer-lists {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  margin: auto;
  padding-top: 20px;
}
.footer-container a {
  color: #000;
}
.list-head {
  font-weight: bold;
}

/* model  */
.modal.display {
  display: block;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-box {
  margin: 10% auto;
  width: 400px;
  background: #fff;
  color: #333;
  /* position: relative; */
  animation: modalopen 1s;
}

.modal-body {
  padding: 50px;
}

.modal-body h3 {
  font-weight: bold;
}

.modal-body .btn {
  width: 100%;
  margin-top: 30px;
}

.modal .close {
  cursor: pointer;
  height: 23px;
  width: 23px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal .modal-footer {
  background: #f7f7f9;
  color: #333;
  padding: 20px 0;
  border-top: #eee 1px solid;
  text-align: center;
}

.modal .modal-footer a {
  color: steelblue;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  text-transform: uppercase;
}

.form-control input {
  width: 100%;
  border: 2px #ccc solid;
  border-radius: 5px;
  height: 50px;
  padding: 5px;
}

@media (max-width: 780px) {
  .section1 {
    grid-template-columns: 1fr;
    text-align: center;
    padding-left: 20px;
  }
  .section2 .text-xl {
    font-size: 40px;
  }
  .section2-bg {
    grid-template-columns: 1fr;
    height: 1000px;
    width: 100%;
  }
  .section3-content .text-xl {
    font-size: 30px;
  }
  .section3-content {
    align-items: center;
    text-align: center;
  }
  .section4 {
    background: url(../images/live-sports-small.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-lists {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
