body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: #333;
  font-size: 20px;
}
h1 {
  font: 600;
  font-size: 16px;
  font-family: sans-serif;
  color: #ccc;
}
a {
  text-decoration: none;
  color: #999;
}
ul {
  padding: 0;
  margin: 0%;
}
li {
  list-style: none;
  border-bottom: 1px solid #999;
  padding: 25px 30px;
}

.btn {
  padding: 12px 20px;
  color: #ccc;
  background-color: green;
}

.showcase {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.showcase-table {
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 1;
  margin: auto;
  overflow: hidden !important;
}
.showcase-table-1,
.showcase-table-2,
.showcase-table-3 {
  /* border: 1px solid; */
  text-align: center;
  margin: 20px 10px;
  background-color: white;
}
.showcase .showcase-table ul li:first-child {
  background-color: black;
  color: white;
}
.showcase-table-2 ul li:first-child {
  background-color: green !important;
}
.btn-box {
  /* padding: 10px 10px; */
}
.showcase-table-2 {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.75),
    -10px -10px 50px rgba(0, 0, 0, 0.75);
}
.showcase-table-1:hover,
.showcase-table-3:hover {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.75),
    -10px -10px 50px rgba(0, 0, 0, 0.75);
  transform: scale(1.01);
  transition: all 0.9s;
}
.showcase-table-2:hover {
  transform: scale(1.01);
  transition: all 0.9s;
}
@media (max-width: 580px) {
  .showcase-table {
    flex-direction: column;
  }
}
